header {
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 1rem;
}

nav li:last-child {
  margin-left: auto;
}

nav input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.google-login-button {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.google-login-button:hover {
    background-color: #357ae8;
}

.google-login-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.4);
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F9FA;
    background-size: cover;
    height: 100px; /* footer 높이를 적절히 설정하세요 */
}

.footer img {
    width: 130px; /* 원하는 너비로 설정 */
    height: auto; /* 비율을 유지하면서 높이를 자동으로 설정 */
}
