.logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    background-color: white;
    border: 1px solid #ccc; /* 테두리 두께를 1px로 설정 */
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem; /* text-sm */
    transition: background-color 0.2s;
}

.logoutButton:hover {
    background-color: #f3f3f3; /* hover:bg-gray-100 */
}

.icon {
    width: 20px; /* w-5 */
    height: 20px; /* h-5 */
    margin-right: 20px; /* mr-5 */
}

.text {
    color: rgba(0, 0, 0, 0.54); /* text-black-54 */
    font-weight: 600; /* font-semibold */
}
