.username {
    color: rgba(0, 0, 0, 0.54); /* text-black-54 */
    font-weight: 600; /* font-semibold */
    font-size: 1.3rem; /* text-sm */
}

.logo {
    width: 100%;
    height: auto;
    max-width: 200px;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

